
 /* navigation */
 .navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.navbar-nav {
  display: flex;
  justify-content: center;
}
.nav-item {
  margin: 0 25px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}


/* Add a background color on hover */
.navbar a:hover {
  background-color: #ccc6c6;
  color: black;
}


 /* section */
section {
  padding: 50px 0;
  text-align: center;
}

#home {
  padding-top: 18px;
  padding-bottom: 300px;

}


#about {
  padding-top: 95px;
  padding-bottom: 20px;
  padding-left: 100px;
  background-color: #ffffff;
}

#services {
  padding-top: 95px;
  padding-bottom: 530px;
  background-color: #ffffff;
}

#contact {
  padding-top: 95px;
  padding-bottom: 100px;
  background-color: #ffffff;
}

/*text*/
H1 {
  font-family: 'Now', sans-serif;
  text-align: center;
}

H3 {
  font-family: 'Now', sans-serif;
}

H2 {
  font-family: 'Now', sans-serif;
}

p {
  font-family: 'Poppins' sans-serif;
}


/*transition*/
html {
  scroll-behavior: smooth;
}

/* Add delay effect when navigating through sections */
section {
  transition: opacity 0.9s ease-in-out;
}

section:not(:target) {
  opacity: 0;
  pointer-events: none;
}
/* Animation */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
}

 @keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(100px); }
  100% { transform: translateX(0); }
}

#mobile_img {
  animation: float 4s ease-in-out infinite;
  position: relative;
  z-index: 2;
}
#shadowtext_img {
  animation: slide 4s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Icon */

i {
  font-size: 28px;
  padding-top: 25px;
}
.d-flex {
  margin-left:-60px; 
}

.container {
  padding-top: 80px;
}


/* image home*/

#laptop_img{
  position:absolute;
  top: 71%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 80%;
}

#bg_img{
  position: absolute;
  top: 20%;
  left: 55%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 160%;
  z-index: -2;
}

#mobile_img{
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 12%;
  height:52%;
}

#logo_img{
  max-width: 30px;
  max-height: 30px;
}

#shadowtext_img {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
}

#vertical-text-container {
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
  text-align: left;
  height: 100vh;
  width: 20%;
  position: absolute;
  left: -65px;
  top: 350px;
  padding: 10px;
}

.fab.fa-facebook {
  color: gray;
}

.fab.fa-instagram {
  color: gray;
}

.fab.fa-linkedin {
  color: gray;
}

.column2 {
  padding: 20px;
  margin-left: -50px;
}
.column2_1 {
  padding-top:40px;
}

.column1 {
  margin-left: 50px;
  margin-top: 40px;
}
.column1_2 {
  padding-top: 160px;
  padding-right: 70px;
}

@media (max-width: 768px) {
  #laptop_img {
    margin-top: 80px;
  }
  #mobile_img {
    margin-top: 80px;
  }
  h3.text-center {
    margin-top: 0;
  }
}


#services img {
  max-width: 100%;
  height: auto;
}

#services h5 {
  text-align: center;
}

#services p {
  text-align: center;
}

