
 /* navigation /////////////////////////////////////////////////////////////////////// */
 .navbar {
  overflow: hidden;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.navbar-nav {
  display: flex;
  justify-content: center;
}
.nav-item {
  margin: 0 25px;

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'verdana', sans-serif;
}


/* Add a background color on hover */
.navbar a:hover {
  background-color: #ccc6c6;
  color: black;
}


/*transition*/
html {
  scroll-behavior: smooth;
}

/* Add delay effect when navigating through sections */
section {
  transition: opacity 0.9s ease-in-out;
}

section:not(:target) {
  opacity: 0;
  pointer-events: none;
}

/*home section  //////////////////////////////////////////////// */
#home {
  padding-top: 18px;
  padding-bottom: 25vh;

  padding-right: 50px;
}

/*about section /////////////////////////////////////////////// */
#about {
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 100px;
}

.about1 {
  margin-left: -30px;
  margin-top: 80px;
}

.about1_1 {
  padding: 20px;
  margin-left: -50px;
}
.about2 {
  padding-top:310px;
}

.about2_1 {
  padding-top: 20px;
  padding-right: 70px;
  margin-left: -20px;
}

.about3 {
  margin-left: -30px;
  margin-top: 50px;
}

#about_btn {
  background-color: #ff904e;
  border-color:#FFCC99;
  color: black;
}

#about_btn:hover {
  background-color: #252523;
  border-color:#FFCC99;
  color:white;
}

/*services section //////////////////////////////////////////// */
#services {
  background-image: url('image/pad.png');
  background-size: cover; /* Scale the image to cover the entire section */
  background-position: center center; /* Center the image vertically and horizontally */
  padding-top: 95px;
  padding-bottom: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

#services img {
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

#services h5 {
  text-align: center;
}

#services p {
  text-align: center;
}

.box1:hover {
  background-color: #5a5a5a;
}

.box1:hover h5{
  color: white;
}

.box1:hover p{
  color: white;
}

.box2:hover {
  background-color: #5a5a5a;
}

.box2:hover h5{
  color: white;
}

.box2:hover p{
  color: white;
}

.box3:hover {
  background-color: #5a5a5a;
}

.box3:hover h5{
  color: white;
}

.box3:hover p{
  color: white;
}

.box4:hover {
  background-color: #5a5a5a;
}

.box4:hover h5{
  color: white;
}

.box4:hover p{
  color: white;
}

.box5:hover {
  background-color: #5a5a5a;
}

.box5:hover h5{
  color: white;
}

.box5:hover p{
  color: white;
}

.box {
  margin: 25px;
}


.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(68, 73, 78, 0.5);
}

.service_text {
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 40px;
}
/*button hidder*/

.collapse {
  display: none;
}

.center {
  text-align: center;
}
.read-more {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 40px;
  padding: 10px;
  border: 2px solid #000;
  border-radius: 3px;
  text-decoration: none;
  color: #000;
}
/*features section //////////////////////////////////////////////  */

#features {
  padding-top: 10px;
  padding-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
}

.features_title {
  padding-left: 10px;
}

.features_text {
  padding-left: 10px;

}

/*contact section //////////////////////////////////////////////  */
#contact {
  background-image: url('image/pad.png');
  background-size: 120% 300%; /* Scale the image */
  background-position: center center; /* Center the image */
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

.copyr {
  text-align: center;
  padding-top: 20px;
}
/*text*/
H1 {
  font-family: 'Now', sans-serif;
  text-align: center;
}

H3 {
  font-family: 'Now', sans-serif;
}

H2 {
  font-family: 'Now', sans-serif;
}

p {
  font-family: 'Poppins' sans-serif;
}


/* Animation  //////////////////////////////////////////////////////////////////////////////////////////////////  */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-25px); }
}

 @keyframes slide {
  0% { transform: translateX(0); }
  50% { transform: translateX(100px); }
  100% { transform: translateX(0); }
}

#mobile_img {
  animation: float 4s ease-in-out infinite;
  position: relative;
  z-index: 2;
}
#shadowtext_img {
  animation: slide 4s ease-in-out infinite;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Icon ///////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

i {
  font-size: 28px;
  padding-top: 25px;
}
.d-flex {
  margin-left:-60px; 
  margin-right: 1140px;;
}

.container {
  padding-top: 80px;
}

.icons {
  padding-top: 150px;

}

#vertical-text-container {
  display: flex;
  align-items: center;
  writing-mode: vertical-lr;
  text-align: left;
  height: 30vh;
  width: 20%;
  position: absolute;
  left: 15px;
  top: 20px;
  padding: 10px;
  position:relative;
}

.fab.fa-facebook {
  color: gray;
}

.fab.fa-facebook:hover {
  color: #ff904e;
}

.fab.fa-instagram {
  color: gray;
}

.fab.fa-instagram:hover {
  color: #ff904e;
}

.fab.fa-linkedin {
  color: gray;
}

.fab.fa-linkedin:hover {
  color: #ff904e;
}


/* image home ///////////////////////////////////////////////////////////////////////////////////////////////////   */

@media (max-width: 768px) {
  #laptop_img {
    margin-top: 80px;
  }
  #mobile_img {
    margin-top: 80px;
  }
  h3.text-center {
    margin-top: 0;
  }
}

#laptop_img{
  position:absolute;
  top: 67%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
}

#bg_img{
  position: absolute;
  top: 37.5%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  z-index: -2;
}

#mobile_img{
  position: absolute;
  top: 40%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 12%;
  height:auto;
}

#logo_img{
  max-width: 30px;
  max-height: 30px;
}

#shadowtext_img {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%);
}

.card img {
  height: 65px;
  width: 75px;
  padding-top: 20px;
  padding-left: 30px;
}

.card {
  margin-top: 20px;
}

.card a {
  color: black;
}

.card a:hover {
  color: white;
}

.card:hover {
  background-color: #ff904e;
  transform: scale(1.05);
}

#bg_abt{
  position: absolute;
  top: 700px;
  left: 140%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  z-index: -2;
}

.card-img-top {
  transition: transform .2s; /* Add a smooth transition effect */
}

.box {
  position: relative;
  transition: all 0.5s ease-in-out;
}

.box:hover .collapse {
  max-height: 400px;
}

.collapse {
  max-height: 0;
  transition: all 0.3s ease-in-out;
}