
.navbar {
    overflow: visible;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
  }

  .navbar-navv {
    display: flex;
    justify-content: right;
  }

  .nav-item {
    margin: 0 10px;
  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #030303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
.nav-item {
    text-decoration: black;
    overflow: visible;
    z-index: 3;
    margin-right: 10px;
    text-align: right;
}
/*scroll Button*/

.scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    z-index: 99;
}


/*box*/

.shadow-box {
      background-color: #ffcf87; /* Set background color */
      padding: 20px; /* Set padding */
      box-shadow: 0px 0px 20px rgba(0,0,0,0.1); /* Add box shadow */
      margin-bottom: 20px;
}

.box {
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    padding: 20px;
    margin-bottom: 20px;
}

.text-right {
    text-align: right;
    margin-bottom: 20px;
    padding: 20px;
}



/*text*/

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
} 

p {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
}

.h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*image*/

#logo_img{
    max-width: 40px;
    max-height: 40px;
    margin-left: 20px;
}

.img-fluid {
    width: 100px;
    height: 50px;   
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

#pic {
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/*
img {
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
*/



/*Footer*/
.footer {
    background-color: #fdfdfd;
    padding: 30px;
    border-top: 0.1px solid rgb(197, 197, 197);     
    justify-content: center;
}

.text-center {
    font-size: 30;
    text-align: center;
    margin-top: 20px;
}



.carousel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .carousel-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.33%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item.left {
    transform: translateX(-33.33%);
  }
  
  .carousel-item.right {
    transform: translateX(33.33%);
  }
  
  @keyframes carousel {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-33.33%);
    }
  }