/*navbar*/

.navbar {
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
  }

  .navbar-navv {
    display: flex;
    justify-content: center;
  }

  .nav-item {
    margin: 0 10px;
  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #030303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
.nav-item {
    text-decoration: black;
    overflow: visible;
    z-index: 3;
    margin-right: 10px;
    text-align: right;
}


/*box*/

.shadow-box { 
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px; /* Set padding */
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1); /* Add box shadow */
    margin-bottom: 20px;
}



/*image*/

#logo_img{
    max-width: 40px;
    max-height: 40px;
    margin-left: 20px;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
}


/*Footer*/
.footer {
    background-color: #ffc17ae0;
    font-size: 14px;
    padding: 15px;
    justify-content: center;
}

.carousel_img {
  padding-top: 17px;
}

  hr {
    height: 2px;
    background-color: #ffffff;
    border: none;
    margin: 20px 0;
 }
 .uppertext {
    color:white;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    
 }
 .upperr p h3 {
    font-family: 'Poppins', sans-serif;
 }

.tag {
    padding-top: 15px;
}

body {
    background-image: url("../image/wider.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

.click {
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.clicks {
    padding-top: 11px;
    padding-bottom: 11px;
}
.pagebody {
    margin-top: 1in;
}