/*navbar*/

.navbar {
    overflow: visible;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  }
  .navbar-nav {
    display: flex;
    justify-content: center;
  }

  .navbar-navv {
    display: flex;
    justify-content: center;
  }

  .nav-item {
    margin: 0 10px;
  
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #030303;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
  
.nav-item {
    text-decoration: black;
    overflow: visible;
    z-index: 3;
    margin-right: 10px;
    text-align: right;
}
/*scroll Button*/

.scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 30px;
    display: none;
    z-index: 99;
}


/*box*/

.shadow-box { 
    padding: 20px; /* Set padding */
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1); /* Add box shadow */
    margin-bottom: 20px;
}


/*text*/



.navb li {
    font-family:  Arial, Helvetica, sans-serif;
}

/*image*/

#logo_img{
    max-width: 40px;
    max-height: 40px;
    margin-left: 20px;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-25px); }
}

.rotate {
    position: absolute;
    top: 30%;
    left: 46%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
    z-index: -2;
    opacity: 0.3;
    animation: float 4s ease-in-out infinite;
}

#low_img {
    position: absolute;
    top: 130%;
    left: 1%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: auto;
    z-index: -2;
    opacity: 0.3;
    animation: float 4s ease-in-out infinite;
}


.img-fluid {
    width: 100px;
    height: 50px;   
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 20px;
}

#pic {
    width: 200px;
    height: 200px;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}



/*Footer*/
.footer {
    background-color: #ffc17ae0;
    padding: 30px;
    border-top: 0.1px solid rgb(197, 197, 197);     
    justify-content: center;
}


.rotate {
    -webkit-animation: rotate 15s infinite linear;
    animation: rotate 15s infinite linear;
  }
  
  @-webkit-keyframes rotate {
    from {
      -webkit-transform: rotate(0deg);
    }
    to {
      -webkit-transform: rotate(360deg);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .carousel_img {
    padding-top: 85px;
  }

  hr {
    height: 2px;
    background-color: #000000;
    border: none;
    margin: 20px 0;
 }
 .uppertext {
    text-transform: capitalize;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    
 }
 .upperr p h3 {
    font-family: 'Poppins', sans-serif;
 }

